<?xml version="1.0" encoding="UTF-8"?>
<beans>
    <bean id="1" class="com.liang.xmlParse.sax.bean.Book">
        <property name="author" value="恶犬"/>
        <property name="name" value="我与虎谋早餐"/>
        <property name="price">10.0</property>
    </bean>
    <bean id="2" class="com.liang.xmlParse.sax.bean.Book">
        <property name="author" value="飞雪"/>
        <property name="name" value="蜀内大雨连绵"/>
        <property name="price">15.0</property>
    </bean>
</beans>